Importing Packages

In [26]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

Importing Dataset

In [27]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'
names = ['id', 'clump_thickness', 'uniformity_of_cell_size', 'uniformity_of_cell_shape', 'marginal_adhesion', 'single_epithelial_cell_size', 'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class']

saving and cleaning dataset

In [28]:
df = pd.read_csv(url, names=names).replace('?', np.nan).dropna()
df.drop(['id'], axis=1, inplace=True)
df

,clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

analysing the dataset

In [16]:
print(df.describe())

       clump_thickness  uniformity_of_cell_size  uniformity_of_cell_shape  \
count       683.000000               683.000000                683.000000
mean          4.442167                 3.150805                  3.215227
std           2.820761                 3.065145                  2.988581
min           1.000000                 1.000000                  1.000000
25%           2.000000                 1.000000                  1.000000
50%           4.000000                 1.000000                  1.000000
75%           6.000000                 5.000000                  5.000000
max          10.000000                10.000000                 10.000000

       marginal_adhesion  single_epithelial_cell_size  bland_chromatin  \
count         683.000000                   683.000000       683.000000
mean            2.830161                     3.234261         3.445095
std             2.864562                     2.223085         2.449697
min             1.000000                     1.000000         1.000000
25%             1.000000                     2.000000         2.000000
50%             1.000000                     2.000000         3.000000
75%             4.000000                     4.000000         5.000000
max            10.000000                    10.000000        10.000000

       normal_nucleoli     mitoses       class
count       683.000000  683.000000  683.000000
mean          2.869693    1.603221    2.699854
std           3.052666    1.732674    0.954592
min           1.000000    1.000000    2.000000
25%           1.000000    1.000000    2.000000
50%           1.000000    1.000000    2.000000
75%           4.000000    1.000000    4.000000
max          10.000000   10.000000    4.000000

creating dataset into training and test set

In [17]:
X = df.drop(['class'], axis=1).to_numpy()
y = df['class'].to_numpy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Training using Support Vector Machine Model

In [24]:
svm = SVC()
svm.fit(X_train, y_train)
accuracy = svm.score(X_test, y_test)
print(accuracy)

0.9708029197080292

Evaluating the model with an Example

In [32]:
test = np.array([[4, 3, 1, 2, 2, 2, 3, 2, 10]])
test = test.reshape(len(test), -1)
prediction = svm.predict(test)
print("predicted value is",prediction[0])

predicted value is 4